[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
jinja2 = "*"
mysql-connector-python = "*"
colorama = "*"
playwright = "*"

[dev-packages]
pylint = "*"
black = "21.8b0"
pyinstaller = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
